.tattoo-option-pick-page{
    text-align: center;
}

.tattoo-option-pick-page-title h1{
    color: #ECAA20;
    font-weight: 400;
    font-size: 54px;
}

.tattoo-option-pick-page-title p{
    color: white;
    font-weight: 400;
    font-size: 28px;
    font-family: Anton;
    margin-top: 10px
}




.tattoo-option-pick-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
    margin-top: 30px;
}

@media(max-width: 768px){
    .tattoo-option-pick-page-title h1{
        font-size: 48px;
    }
    .tattoo-option-pick-page-title p{
        font-size: 24px;
    }

    .tattoo-option-pick-options{
        gap: 30px;
        margin-top: 40px;
    }
  
}