.flash-tattoo-size-selection {
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}
.flash-tattoo-size-select-detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.flash-tattoo-size-heading h3{
    color: #DFDFDF;
    font-family: anton;
}


.size-card.selected,
.size-card:hover {
  border: 2px solid #ECAA20;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(236, 170, 32, 0.6);
  border-radius: 22px;
  
}

.flash-tattoo-size-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

}

.size-card {
    /* grow/shrink with a base size */
  width: 16rem;
  height: 16rem;
  background: #353535;
  border: 1px solid #353535;
  border-radius: 22px;
  padding: 12px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}





.size-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  object-fit: contain;
}

/* On smaller screens, let them fill */
@media (max-width: 768px) {
  
 
}

@media (max-width: 480px) {
  
     .size-card {
    flex: 1 1 100%;
  }
}
