.flash-tattoo-detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 2rem; */
}

.flash-tattoo-detail h3{
    font-weight: 600;
}

.flash-tattoo-detail-secton{
    display: flex;
    gap: 20px;
}
.flash-tattoo-detail-img-section{
    width: 177px;
    height: 177px;
    border :1px solid #ECAA20;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
}
.flash-tattoo-detail-img-section img{
    object-fit: cover;
    border-radius: 10px;
     border :1px solid #ECAA20;
     
}

.flash-tattoo-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flash-tattoo-details{
    margin-top: 1.5rem;
}
.flash-tattoo-details h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;

}

.flash-tattoo-detail p{
    font-size:20px;
    font-weight: 500;
}

.sub-flash-tattoo-detail{
    display: flex;
    align-items: center;
    gap: 40px;
}

.sub-flash-tattoo-detail p span{
    font-weight: inherit;
    border: 1px solid #ECAA20;
    border-radius: 22px;
    padding: 5px 20px;

}