.piercing-detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.piercing-detail h3{
    font-weight: 600;
}

.piercing-detail-secton{
    display: flex;
    gap: 20px;
}
.piercing-detail-img-section{
    width: 177px;
    height: 177px;
    background-color: white;
    border-radius: 10px;
}
.piercing-detail-img-section img{
    object-fit: cover;
    border-radius: 10px;
}

.piercing-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.piercing-details{
    margin-top: 1.5rem;
}
.piercing-details h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;

}
/* 
.custom-tattoo-detail p{
    font-size: 18px;
}

.custom-tattoo-detail p span{
    color: #BABABA;
    font-family: Termina Test;
} */