.piercing-select{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.piercing-select-detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.piercing-select-detail h3{
    font-family: Anton;
    color: white;
}

.tattoo-placement{
font-family: Termina Test;
font-weight: 500;

}



.piercing-option{
       display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  align-items: start;
}

@media(max-width: 1200px){
    .piercing-option{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.25rem;
    }
}

@media(max-width: 767px){
    .piercing-option{
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.6rem;
    }
}